html {
	height: 100%;
	background: -webkit-linear-gradient(top, #ABABAB, #FFFFFF);
}

.container {
	width: 900px;
	margin: auto;
}

.footer {
	width: 900px;
	margin: auto;
	background: -webkit-linear-gradient(bottom, #696969, 	#C3C3C3);
}

img {
	margin-top: 0;
	margin-bottom: 0;
	border-top: 1px solid #FFFFFF;
	border-bottom: 3px solid #FFFFFF;
}

.nav {
	margin-top: 0;
	background: -webkit-linear-gradient(bottom, #696969, 	#C3C3C3);
	width: 100%;
}

ul {
	margin: 0;
	padding: 0;
	width: 100%;
}

li:first-child {
	margin-left: 0.5px;
	padding-left: 9px
}

li:last-child {
	padding-right: 9px
}

li {
  list-style: none;
  display: inline-block;
  padding: 10px 5px 15px 5px;
  margin: -2px; 
}

.bar {
	color: #4b6888;
	padding: 11px 4px 10px 4px;
	margin: 0 -2px 0 -2px;
	font-weight: 600;
	font-size: 14px;
  font-family: "Times New Roman", Times, Serif;
}

a {
  font-size: 14px;
  font-family: "Hevletica" Arial, Sans-serif;
  color: #FFFFFF;
  text-decoration: none;
}

.main {
	border-top: 2px solid #FFFFFF;
	height: 600px;
	width: 900px;
	background: -webkit-radial-gradient(circle, #1a497f, 	#184984);
}

.dont {
	float: left;
	width: 425px;
	padding-left: 25px;
}

.pitch {
	color: #FFFFFF;
	font-family: "Arial", Sans-serif;
}

h1 {
	font-size: 16pt;
	float: left;
	margin-bottom: 0;
}

.hire {
	color: #D8CEC2;
	margin-right: 6px;
}

h2 {
	clear: both;
	font-size: 12pt;
}

#unless {
	margin-top: 0;
}

h3 {
	font-size: 10pt;
	margin-bottom: 1px;
	margin-top: 10px;
}

.only {
	float: left;
}

.unindented {
	margin-bottom: 0;
}

.indented {
	margin-top: 0;
	margin-left: 13px;
}

#streets {
	margin-bottom: 0;
}

#then {
	margin-top: 30px;
}

.order {
	width: 450px;
	float: right;
}

#tips {
	color: #FFFFFF;
	margin-right: 25px;
}