body {
	height: 100%;
	background: -webkit-linear-gradient(top, #ABABAB, #FFFFFF);
}

.container {
	width: 900px;
	margin: auto;
	border-left: 1px solid white;
	box-shadow: 0 0 10px gray
}

img {
	margin-top: 0;
	margin-bottom: 0;
/*	border-top: 1px solid #FFFFFF;
	border-bottom: 3px solid #FFFFFF;*/
}

.gif {
	margin-top: -4px;
	border-bottom: 2px solid #FFFFFF;
}

.nav {
	margin-top: -4px;
	background: -webkit-linear-gradient(bottom, #696969, 	#C3C3C3);
	width: 100%;
}

ul {
	margin: 0;
	padding: 0;
	width: 100%;
}

.nav-li:first-child {
	margin-left: 0.5px;
	padding-left: 15px
}

.nav-li:last-child {
	padding-right: 15px
}

.nav-li {
  list-style: none;
  display: inline-block;
  padding: 10px 8px 15px 8px;
  margin: -2px;
  color: #FFFFFF;
}

.nav-link:hover {
	background: -webkit-linear-gradient(bottom, #2e4f78, 	#9aacc2);
	padding-bottom: 12px;
}

.bar {
	color: #4b6888;
	padding: 11px 0 10px 0;
	margin: 0 -2px 0 -2px;
	font-weight: 600;
	font-size: 14px;
  font-family: "Times New Roman", Times, Serif;
}

.first-bar {
	color: #4b6888;
	padding: 11px 0 10px 0;
	margin: 0 -2px 0 -2px;
	font-weight: 600;
	font-size: 14px;
  font-family: "Times New Roman", Times, Serif;
}

.last-bar {
	color: #4b6888;
	padding: 11px 0 10px 0;
	margin: 0 -2px 0 -2px;
	font-weight: 600;
	font-size: 14px;
  font-family: "Times New Roman", Times, Serif;
}

a {
  font-family: "Hevletica" Arial, Sans-serif;
  color: #FFFFFF;
  text-decoration: none;
}

.links {
	  font-size: 14px;
	  padding: 11px 0 16px 0;
}

.main {
	border-top: 2px solid #FFFFFF;
	height: 600px;
	width: 900px;
	background: -webkit-radial-gradient(circle, #1a497f, 	#184984);
}

.dont {
	float: left;
	width: 424px;
	padding-left: 25px;
}

.pitch {
	color: #FFFFFF;
	font-family: "Arial", Sans-serif;
}

.dont-header {
	font-size: 16pt;
	float: left;
	margin-bottom: 0;
}

.hire {
	color: #D8CEC2;
	margin-right: 6px;
}

.dont-hire {
	clear: both;
	font-size: 12pt;
}

#unless {
	margin-top: 0;
}

h3 {
	font-size: 10pt;
	margin-bottom: 1px;
	margin-top: 10px;
}

.only {
	float: left;
}

.unindented {
	margin-bottom: 0;
}

.indented {
	margin-top: 0;
	margin-left: 13px;
}

#streets {
	margin-bottom: 0;
}

#then {
	margin-top: 30px;
}

.break {
	background-color: #C2EBFF;
	width: 2px;
	height: 470px;
	margin-top: 85px;
	float: left;
}

.order {
	width: 448px;
	float: right;
}

#tips {
	color: #FFFFFF;
	font-size: 13pt;
	margin: 30px 0 0 45px;
}

.quantity {
	float: left;
	width: 250px;
	margin: 0 0 10px 0;
}

#book {
	width: 250px;
	height: auto;
	margin-bottom: -20px;
}

#off {
	color: #FF0100;
	text-align: center;
	margin: 0;
	font-size: 30pt;
}

.bulk {
	width: 200px;
	text-align: center;
	color: #FFFFFF;
	font-size: 14pt;
	margin: 0 auto;
}

.footer {
	border-top: 1px solid white;
	width: 900px;
	margin: 0 auto 0 auto;
	background: -webkit-linear-gradient(bottom, #696969, 	#C3C3C3);
}

#footer-p {
	margin: 0 0 0 10px;
	padding: 5px 0;
	color: white;
	font-size: 7pt;
}

#contact {
	margin-left: 125px;
	font-size: 8pt;

}

.vert-bar {
	margin: 0 10px;
}

.buy-now {
	float: left;
	margin-top: 35px;
	width: 198px;
}

.order-links {
	margin-bottom: 25px;
	box-shadow: 2px 2px 1px black;
}

#amazon {
	width: 148px;
	border-radius: 15px
}

#barnes {
	width: 138px;
	padding: 8px 5px 5px 5px;
	background-color: white;
	border-radius: 10px; 
}

#from-sean {
	width: 148px;
	background-color: white;
	color: black;
	border-radius: 10px;
	padding: 5px;
	font-weight: bolder;
}

#customize {
	color: #FFFFFF;
	font-size: 12pt;
	text-align: center;
	margin: 10px 0 0 0;
	width: 148px;
	font-style: italic;
	font-weight: bold;
}

#inquire {
	padding: 5px 0;
	color: #FFFFFF;
	width: 225px;
	clear: both;
	margin: auto;
	font-size: 11pt;
	font-weight: bold;
	text-align: center;
}

hr {
	margin: auto;
	width: 410px;
	height: 1px;
	background-color: white;
}

#order-checklist {
	width: 175px;
	background-color: #c0d4ef;
	border-radius: 10px;
	color: #264b78;
	font-weight: bolder;
	font-size: 14pt;
}

.dynamic-div {
	border-top: solid 2px white;
	border-bottom: solid 2px white;
	background-color: #e6e6e6;
}

#about-div {
	padding-bottom: 367px
}

#about-you {
	width: 550px;
	margin: 5px 10px 0 10px;
	display: inline-block;
}

.dynamic-header {
	padding: 3px;
	color: white;
	background: -webkit-linear-gradient(bottom, #3b6fa9, #1d4e88); 
	font-size: 14pt;
}

#you {
	width: 115px;
	margin-left: 10px; 
}

#business-first {
	width: 330px;
	color: #193165;
	margin: 10px auto 10px auto;
	font-style: italic;
}

.abouts {
	color: #193165;
	font-size: 10pt;
	margin-bottom: 10px;
	line-height: 16px;
	margin: 0 0 0 10px;
	padding: 5px 0;
}

#dad-jacket {
	width: 154px;
	height: 159px;
	float: right;
	margin: 85px 115px 0 0;
	border: 1px solid white;
	box-shadow: 0 0 10px gray;
}

.topics-left {
	width: 550px;
	margin: 8px 0 30px 20px;
	display: inline-block;
}

#topics-header {
	width: 70px;
}

.topics-sub {
	color: red;
	font-size: 10pt;
	margin: 20px 0;
}

.subheading {
	font-style: italic;
	font-size: 10pt;
	margin-bottom: 0;
}

.dynamic-p {
	margin-top: 0;
	color: #193165;
	font-size: 10pt;
	font-weight: bold;
}

#superstars {
	margin-bottom: 0;
}

.topics-ul {
	color: #193165;
	font-size: 10pt;
	font-weight: bold;
	margin: 0 0 10px 50px;
}

.topics-right {
	width: 300px;
	float: right;
}

.guarantee-left {
	margin: 8px 0 545px 20px;
	width: 550px;
	display: inline-block;
}

#guarantee-header {
	width: 390px;
	margin-bottom: 25px
}

.guarantee-pic {
	width: 200px;
	float: right;
	margin: 80px 95px 0 0;
}