body {
	height: 100%;
	background: -webkit-linear-gradient(top, #ABABAB, #FFFFFF);
}

.container {
	width: 900px;
	margin: auto;
}

img {
	margin-top: 0;
	margin-bottom: 0;
/*	border-top: 1px solid #FFFFFF;
	border-bottom: 3px solid #FFFFFF;*/
}

.nav {
	margin-top: 0;
	background: -webkit-linear-gradient(bottom, #696969, 	#C3C3C3);
	width: 100%;
}

ul {
	margin: 0;
	padding: 0;
	width: 100%;
}

li:first-child {
	margin-left: 0.5px;
	padding-left: 9px
}

li:last-child {
	padding-right: 9px
}

li {
  list-style: none;
  display: inline-block;
  padding: 10px 5px 15px 5px;
  margin: -2px;
  color: #FFFFFF;
}

.bar {
	color: #4b6888;
	padding: 11px 4px 10px 4px;
	margin: 0 -2px 0 -2px;
	font-weight: 600;
	font-size: 14px;
  font-family: "Times New Roman", Times, Serif;
}

a {
  font-family: "Hevletica" Arial, Sans-serif;
  color: #FFFFFF;
  text-decoration: none;
}

.links {
	  font-size: 14px;
}

.main {
	border-top: 2px solid #FFFFFF;
	height: 600px;
	width: 900px;
	background: -webkit-radial-gradient(circle, #1a497f, 	#184984);
}

.dont {
	float: left;
	width: 424px;
	padding-left: 25px;
}

.pitch {
	color: #FFFFFF;
	font-family: "Arial", Sans-serif;
}

.dont-header {
	font-size: 16pt;
	float: left;
	margin-bottom: 0;
}

.hire {
	color: #D8CEC2;
	margin-right: 6px;
}

.dont-hire {
	clear: both;
	font-size: 12pt;
}

#unless {
	margin-top: 0;
}

h3 {
	font-size: 10pt;
	margin-bottom: 1px;
	margin-top: 10px;
}

.only {
	float: left;
}

.unindented {
	margin-bottom: 0;
}

.indented {
	margin-top: 0;
	margin-left: 13px;
}

#streets {
	margin-bottom: 0;
}

#then {
	margin-top: 30px;
}

.break {
	background-color: #C2EBFF;
	width: 2px;
	height: 470px;
	margin-top: 85px;
	float: left;
}

.order {
	width: 448px;
	float: right;
}

#tips {
	color: #FFFFFF;
	font-size: 13pt;
	margin: 30px 0 0 45px;
}

.quantity {
	float: left;
	width: 250px;
	margin: 0 0 10px 0;
}

#book {
	width: 250px;
	height: auto;
	margin-bottom: -20px;
}

#off {
	color: #FF0100;
	text-align: center;
	margin: 0;
	font-size: 30pt;
}

.bulk {
	width: 200px;
	text-align: center;
	color: #FFFFFF;
	font-size: 14pt;
	margin: 0 auto;
}

.footer {
	width: 900px;
	/*height: 28px;*/
	margin: 0 auto;
	background: -webkit-linear-gradient(bottom, #696969, 	#C3C3C3);
}

p {
	margin: 0 0 0 10px;
	padding: 5px 0;
	color: #FFFFFF;
	font-size: 7pt;
}

#contact {
	margin-left: 125px;
	font-size: 8pt;

}

.vert-bar {
	margin: 0 10px;
}

.buy-now {
	float: left;
	margin-top: 35px;
	width: 198px;
}

.order-links {
	margin-bottom: 25px;
	box-shadow: 2px 2px 1px black;
}

#amazon {
	width: 148px;
	border-radius: 15px
}

#barnes {
	width: 138px;
	padding: 8px 5px 5px 5px;
	background-color: white;
	border-radius: 10px; 
}

#from-sean {
	width: 148px;
	background-color: white;
	color: black;
	border-radius: 10px;
	padding: 5px;
	font-weight: bolder;
}

#customize {
	font-size: 12pt;
	text-align: center;
	margin: 10px 0 0 0;
	width: 148px;
	font-style: italic;
	font-weight: bold;
}

#inquire {
	width: 225px;
	clear: both;
	margin: auto;
	font-size: 11pt;
	font-weight: bold;
	text-align: center;
}

hr {
	margin: auto;
	width: 410px;
	height: 1px;
	background-color: white;
}

#order-checklist {
	width: 175px;
	background-color: #c0d4ef;
	border-radius: 10px;
	color: #264b78;
	font-weight: bolder;
	font-size: 14pt;
}