<a href="/testimonials"><img src="images/testimonial_animated.gif" border="0" class="gif"></a>
<div class="nav">
	<ul>
		<li class="nav-li nav-link"><a href="/" class="links">HOME</a></li>
		<li class="first-bar nav-li">|</li>
		<li class="nav-li nav-link"><a href="/about" class="links">ABOUT YOU</a></li>
		<li class="bar nav-li">|</li>
		<li class="nav-li nav-link"><a href="/topics" class="links">TOPICS</a></li>
		<li class="bar nav-li">|</li>
		<li class="nav-li nav-link"><a href="/guarantee" class="links">GUARANTEE</a></li>
		<li class="bar nav-li">|</li>
		<li class="nav-li nav-link"><a href="/video" class="links">VIDEO</a></li>
		<li class="bar nav-li">|</li>
		<li class="nav-li nav-link"><a href="/handouts" class="links">HANDOUTS</a></li>
		<li class="bar nav-li">|</li>
		<li class="nav-li nav-link"><a href="/testimonials" class="links">TESTIMONIALS</a></li>
		<li class="bar nav-li">|</li>
		<li class="nav-li nav-link"><a href="/contact" class="links">CONTACT</a></li>
		<li class="bar nav-li">|</li>
		<li class="nav-li nav-link"><a href="/salesshot" class="links">SALES SHOT</a></li>
		<li class="last-bar nav-li">|</li>
		<li class="nav-li nav-link"><a href="/signup" class="links">SIGN UP</a></li>
	</ul>
</div>
<div class="main">
	<div class="dont">
		<h1 class="hire dont-header">DON'T HIRE</h1>
		<h1 class="pitch dont-header" id="sean">SEAN LEAHY</h1>
		<h2 class="pitch dont-hire" id="unless">unless you want...</h2>
		<h3 class="pitch">...the <u>ONLY</u> sales training that I used the next day.</h3>
		<h3 class="pitch unindented">...the <u>ONLY</u> speaker focused on business to business and</h3>
		<h3 class="pitch indented"> repeat customers</h3>
		<h3 class="pitch">...the <u>ONLY</u> speaker who customized everything to our business.</h3>
		<h3 class="pitch unindented">...the <u>ONLY</u> speaker our people insisted we bring back.</h3>
		<h2 class="pitch dont-hire" id="then">...THEN you want to hire Sean Leahy!</h2>
	</div>
	<div class="break"></div>
	<div class="order">
		<h1 id="tips">100 Fast Paced, Hard Hitting Sales Tips</h1>
		<div class="quantity">
			<img src="images/ssbook.png" id="book">
			<h1 id="off">50% Off</h1>
			<h2 class="bulk">Quantity Orders of</h2>
			<h2 class="bulk">The Sales Shot Book</h2>
			<h2 class="bulk">of 10 or More</h2>
		</div>
		<div class="buy-now">
			<a href="http://www.amazon.com/The-Sales-Shot-Paced-Hitting/dp/1477148248/ref=sr_1_1?ie=UTF8&qid=1362522800&sr=8-1&keywords=leahy+sales+shot" target="_blank"><img src="images/amazon.png" id="amazon" class="order-links"></a>
			<a href="http://www.barnesandnoble.com/w/the-sales-shot-sean-p-leahy/1114703213?ean=9781477148259" target="_blank"><img src="images/bnn.png" id="barnes" class="order-links"></a>
			<a href="http://www.salesshot.com" target="_blank"><button id="from-sean" class="order-links">Order Directly from Sean</button></a>
			<p id="customize">Customize with Your Logo</p>
		</div>
		<p id="inquire">Contact sean@seanleahy.com to inquire</p>
		<hr>
		<div id="checklist">
			<a href="/sales-checklist"><img src="images/sales_checklist.png" id="checklist-img">
			<button id="order-checklist">Order Your Sales Checklist</button></a>
		</div>
	</div>
</div>
