<a href="testimonials.html"><img src="images/testimonial_animated.gif" border="0"></a>
<div class="nav">
	<ul>
		<li><a href="/home">HOME</a></li>
		<li class="bar">|</li>
		<li><a href="/home">ABOUT SEAN</a></li>
		<li class="bar">|</li>
		<li><a href="/home">TOPICS</a></li>
		<li class="bar">|</li>
		<li><a href="/home">GUARANTEE</a></li>
		<li class="bar">|</li>
		<li><a href="/home">VIDEO</a></li>
		<li class="bar">|</li>
		<li><a href="/home">HANDOUTS</a></li>
		<li class="bar">|</li>
		<li><a href="/home">TESTIMONIALS</a></li>
		<li class="bar">|</li>
		<li><a href="/home">CONTACT</a></li>
		<li class="bar">|</li>
		<li><a href="/home">SALES SHOT</a></li>
		<li class="bar">|</li>
		<li><a href="/home">SIGN UP</a></li>
	</ul>
</div>
<div class="main">
	<div class="dont">
		<h1 class="hire">DON'T HIRE</h1>
		<h1 class="pitch" id="sean">SEAN LEAHY</h1>
		<h2 class="pitch" id="unless">unless you want...</h2>
		<h3 class="pitch">...the <u>ONLY</u> speaker focused on B2B.</h3>
		<h3 class="pitch unindented">...the <u>ONLY</u> speaker focused on experienced</h3>
		<h3 class="pitch indented">salespeople and managers, not rookies.</h3>
		<h3 class="pitch">...the <u>ONLY</u> speaker who is a business leader first.</h3>
		<h3 class="pitch unindented">...the <u>ONLY</u> speaker who started selling jewelry</h3>
		<h3 class="pitch indented" id="streets">on the streets of New York and now works in</h3>
		<h3 class="pitch indented">boardrooms from Boston to Budapest.</h3>
		<h3 class="pitch">...the <u>ONLY</u> speaker who delivers specifics that work!</h3>
		<h3 class="pitch unindented">...the <u>ONLY</u> speaker who customizes his speeches to</h3>
		<h3 class="pitch indented">your company.</h3>
		<h2 class="pitch" id="then">...THEN you want to hire Sean Leahy!</h2>
	</div>
	<div class="order">
		<h1 id="tips">100 Fast Paced, Hard Hitting Sales Tips</h1>
	</div>
</div>