<div class="container">
	<img src="images/header.jpg">
	<a href="testimonials.html"><img src="images/testimonial_animated.gif" border="0"></a>
	<div class="nav">
		<ul>
			<li><a href="/home">HOME</a></li>
			<li class="bar">|</li>
			<li><a href="/home">ABOUT SEAN</a></li>
			<li class="bar">|</li>
			<li><a href="/home">TOPICS</a></li>
			<li class="bar">|</li>
			<li><a href="/home">GUARANTEE</a></li>
			<li class="bar">|</li>
			<li><a href="/home">VIDEO</a></li>
			<li class="bar">|</li>
			<li><a href="/home">HANDOUTS</a></li>
			<li class="bar">|</li>
			<li><a href="/home">TESTIMONIALS</a></li>
			<li class="bar">|</li>
			<li><a href="/home">CONTACT</a></li>
			<li class="bar">|</li>
			<li><a href="/home">SALES SHOT</a></li>
			<li class="bar">|</li>
			<li><a href="/home">SIGN UP</a></li>
		</ul>
	</div>
	<div class="main">
		
	</div>
</div>