<div class="nav">
	<ul>
		<li class="nav-li nav-link"><a href="/" class="links">HOME</a></li>
		<li class="first-bar nav-li">|</li>
		<li class="nav-li nav-link"><a href="/about" class="links">ABOUT YOU</a></li>
		<li class="bar nav-li">|</li>
		<li class="nav-li nav-link"><a href="/topics" class="links">TOPICS</a></li>
		<li class="bar nav-li">|</li>
		<li class="nav-li nav-link"><a href="/guarantee" class="links">GUARANTEE</a></li>
		<li class="bar nav-li">|</li>
		<li class="nav-li nav-link"><a href="/video" class="links">VIDEO</a></li>
		<li class="bar nav-li">|</li>
		<li class="nav-li nav-link"><a href="/handouts" class="links">HANDOUTS</a></li>
		<li class="bar nav-li">|</li>
		<li class="nav-li nav-link"><a href="/testimonials" class="links">TESTIMONIALS</a></li>
		<li class="bar nav-li">|</li>
		<li class="nav-li nav-link"><a href="/contact" class="links">CONTACT</a></li>
		<li class="bar nav-li">|</li>
		<li class="nav-li nav-link"><a href="/salesshot" class="links">SALES SHOT</a></li>
		<li class="last-bar nav-li">|</li>
		<li class="nav-li nav-link"><a href="/signup" class="links">SIGN UP</a></li>
	</ul>
</div>
<div class="dynamic-div">
	<div class="topics-left">
		<h1 class="dynamic-header" id="topics-header">TOPICS</h1>
		<h2 class="topics-sub">SALES</h2>
		<h2 class="subheading">Only Selling is Selling - What Sales Superstars Do Differently!</H3>
		<p class="dynamic-p class="topics-ul"">This speech is for veteran salespeople who will benefit from more advanced techniques. Focused on what the best salespeople do differently from all the rest, Sean provides a hands-on experience that leaves the audience charged up and ready to sell.</p>
		<p class="dynamic-p" id="superstars">What Sales Superstars do that others don't.</p>
		<ul class="topics-ul">
			<li>Eye opeing strategies that work.</li>
			<li>Focusing on activites that deliver sales.</li>
			<li>Presentation strategies that get the order!</li>
			<li>Specifics on selling to, and negotiating with, professional buyers.</li>
		</ul>
		<h2 class="subheading">Selling to Charlie - Selling to CEO's and Top Management</h2>
		<p class="dynamic-p">Selling to CEO's, and other top managers, shortens the sales cycle, extends relationships, and increases sales. That is why salespeople must know how to successfully sell to this critical segment of their customer base. Unfortunately most salespeople don't know how to, or are afraid to, sell to the CEO, CFO, or COO. After participating in Sean's "Selling to Charlie" speech, every attendee will leave with their target, objective, and specific steps on how to succeed.</p>
		<ul class="topics-ul">
			<li>Proven strategies for selling to CEO's and top management.</li>
			<li>Specific steps and techniques that work.</li>
			<li>The 3 topics every CEO wants to discuss.</li>
			<li>Do's and Dont's that most salespeople are not aware of.</li>
			<li>How to work with the gatekeeper.</li>
			<li>Focusing on activities that deliver sales.</li>
			<li>Every participant will leave with specific steps on how to success.</li>
		</ul>
		<h2 class="topics-sub">MANAGEMENT</h2>
		<h2 class="subheading">One to One Management - Managing/Motivating Individuals</h2>
		<p class="dynamic-p">Today's business environment means managing and motivating employees is more important than ever. Sean's philosophy is that your people must be your top priority. By hiring the best, inspiring the best, and keeping the best, other company objectives fall in line. Sean urges his managers to focus on individuals and to set specific motivation strategies for each person. As a result his company consistently has double digit growth while maintaining single digit employee turnover.</p>
		<ul class="topics-ul">
			<li>The best teams have the best players - How to get them on your team.</li>
			<li>How to Hire, Inspire,and Fire for maximum results.</li>
			<li>How to inspire everyone from the all-star to the role player.</li>
			<li>Why eliminating poor performance is important to everyone.</li>
			<li>Specifics your managers will use today!</li>
		</ul>
		<h2 class="topics-sub">STRATEGY</h2>
		<h2 class="subheading">The X Strategy - For maximum growth!</h2>
		<p class="dynamic-p">If you are seeking rapid growth, the X strategy is the way to get it! Surpassing $100 million in sales in less than 5 years, and doubling soon after, did not happen by accident for Sean's company. Sean shares his strategy secrets in a unique approach for finding market opportunities and determining where, and how, to attack the competition.</p>
		<ul class="topics-ul">
			<li>The strategy when significant growth is the goal.</li>
			<li>A sure fire way to turn your largest prospect into your best customer!</li>
			<li>Why doing the "opposite" works better than following the pack.</li>
			<li>Where to attack and how to do it.</li>
			<li>Examples of how others turned ideas into multi-million dollar sales.</li>
			<li>A Step by Step process for finding the right opportunity and attacking it.</li>
		</ul>
		<h2 class="topics-sub">MOTIVATION/LIFE BALANCE</h2>
		<h2 class="subheading">When Life Gives You a Lemon... Eat it!</h2>
		<p class="dynamic-p">While Sean has experienced success in business and life, the road was not always smooth. Inspired by the wisdom of his 14 year old nephew, Sean began a research project to determine how some people create happy and successful lives and why others do not. Despite having an inoperable brain tumor at such a young age, Sean's nephew succeeded at life by focusing on the positive.</p>
		<ul class="topics-ul">
			<li>Determining who you are, where you want to be, and how to get there.</li>
			<li>Specifics on improving YOU, and your life!</li>
			<li>What the most successful people have in common.</li>
			<li>"We were standing on the tables at the end!"</li>
		</ul>
	</div>
	<div class="topics-right">
		<img src="images/topics_polaroids.png" id="topics-pic">
	</div>
</div>